<div class="container">
  <h1>This is:</h1>
  <h1><%= @anirudh_name %></h1>
  <img src="<%= @anirudh_pic %>">

  <h2>He has friends that don't take pictures with him</h2>

  <img src="<%= @sacpoe_pic %>">

</div>
